<mat-toolbar>
  <span>Roles dashboard</span>
  <span class="flex-spacer"></span>
  <button routerLink="add" mat-raised-button>
    Add role
  </button>
</mat-toolbar>

<div>
  <table mat-table [dataSource]="roles">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let role">{{ role.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let role">
        <button mat-button color="accent" (click)="edit(role.id)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>