<mat-toolbar>
  <span>Inventory Management</span>
  <span class="flex-spacer"></span>
  @if (authService.fullName(); as fullName) {
    <span class="me-2">{{ fullName }}</span>
  }
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/login" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="bg-dark">
    <mat-nav-list>
      <div class="text-light small px-3 pt-3 pb-1">Management</div>

      <mat-list-item routerLink="/roles" routerLinkActive="active-link">
        <span class="text-light"><mat-icon>admin_panel_settings</mat-icon> Roles</span>
      </mat-list-item>

      <mat-list-item routerLink="/users" routerLinkActive="active-link">
        <span class="text-light"><mat-icon>group</mat-icon> Users</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="padding: 16px; min-height: calc(100vh - 128px)">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar>
  <span>Copyright Inventory Management</span>
</mat-toolbar>